
    <link rel="shortcut icon" href="/static/favicon.ico">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">

    <!--<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=BioRhyme"> -->

    <style>

        body { font-family: 'Roboto', serif; font-size: 18px; }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        div.social-icons a {
            color: #007bff;
        }

        footer {
            padding-top: 3rem;
            padding-bottom: 3rem;
            display: block;
            color: #ffffff;
        }

        footer ul {
            padding-left: 0;
            list-style: none;
            margin-bottom: 0;
        }

        footer a {
            color: #ffffff;
        }
    </style>
