<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Bob's {{ title }}">
    <meta name="description" content="A news aggregator for bob">
    <meta name="keywords" content="latest, news">

    <title>Bob's {{ title }}</title>

    {% include 'head1.html' %}

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
  <a class="navbar-brand" href="#">Bob's News Aggregator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      {% include 'menu.html' %}
    </ul>
    <!--
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    -->
  </div>
</nav>
<main role="main" style="background: #e9ecef">
    <div class="jumbotron" style="background-image: url('{{ imgurl }}'); background-position: 0% 25%; background-repeat: no-repeat; color:white; text-shadow: black 0.1em 0.1em 0.1em; margin-botom: 0px; margin-top: 0px;">
        <div class="container">
          <h1 class="display-4 pb-4 mb-4">Bob's {{ title }} </h1>

            <!--
            <div class="row">
                <div class="col-md-4">
                    <form>
                        <div class="form-row align-items-center">
                            <div class="col-auto">
                                <label class="sr-only" for="email">Name</label>
                                <input type="email" class="form-control mb-2" id="email" name="email"
                                       placeholder="Your Email Address">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary mb-2">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-8 social-icons">Follow us on :
                    <a href="https://twitter.com/beebisbob" class="pr-1" target="_blank"><i
                            class="fab fa-twitter fa-lg"></i></a>
                </div>
            </div>
            -->
        </div>
    </div>

    <div class="container">
        <div class="row">
            
            <div class="row pt-2 pb-2">
                {% for each in news %} 
                    {% if title == "HN" %}
                      <div class="col-md-4">
                          <p class="font-weight-bold">
                          <a href="{{ each['url'] }}" target="_blank" style="color: #222222">
                              {{ each['title'] }} (HN)</a>
                          </p>
                          <a href="https://news.ycombinator.com/item?id={{ each['id'] }}" target="_blank" style="color: #333333">
                              Points: {{ each['score'] }}<br>
                              Comments: {{ each['descendants'] }}</a>
                          <p> Published:  {{  each['time'] }}</p>
                      </div>
                    {% elif title == 'twp' %}
                      <div class="col-md-12">
                          <p class="font-weight-bold">
                          <a href="http://threewordphrase.com/{{ each }}.htm">{{ each }}<br>
                            <img height="300" src="http://threewordphrase.com/{{ each }}.gif" >
                          </a>
                          </p>
                      </div>
                    {% else %}
                      <div class="col-md-4">
                          <p class="font-weight-bold">
                          <a href="{{ each.links[0].href }}" target="_blank" style="color: #222222">
                              {{ each.title }}</a> <a href="{{ each.links[0].href }}" target="_blank"
                                                          style="color: #222222">
                              ({{ each.source }} )
                          </a></p>
                          <p>{{ each.summary }}</p>
                          <p> Published on {{ each.published }}</p>
                          <!--<p>
                          <a class="btn btn-secondary" href="{{ each.links[0].href  }}" target="_blank">View details</a></p>
                          -->
                      </div>
                    {% endif %}
                {% else %}
                <div class="col-md-12">
                    <p class="font-weight-bold">
                    {{ message }}
                    </p>
                </div>
                {% endfor %}
            </div>
            <hr>
            
        </div>
    </div>
</main>

<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="?page={{ next_page }}">Next</a></li>
    </ul>
</nav>


<footer class="footer bg-dark">
    <div class="container-fluid">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12 col-lg-12 text-center">
                    <div class="col-md-12 col-sm-12 col-lg-12 copyright">
                        <p>Copyright © 2020. All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>
