
      <li class="nav-item">
        <a class="nav-link" href="/source/random">random</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/hn">HN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/source/latimes.com">latimes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/source/nytimes.com">nytimes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/source/reuters.com">reuters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/source/wsj.com">wsj</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/source/theguardian.com">theguardian</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/source/sciencedaily.com">sciencedaily</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/source/theatlantic.com">theatlantic</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/source/theregister.co.uk">theregister</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/source/newyorker.com">newyorker</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/source/thedailybeast.com">thedailybeast</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
      -->
